{% include 'sitio/cabecera.html' %}

<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div
        class="h-100 p-5 text-white bg-primary border rounded-3">
        <h2>Mamazor</h2>
        <p>El mejor lugar para comprar </p>
        <button class="btn btn-outline-primary" type="div class="></button><a href="libros">Productos</a>
        </div>
      </div>
    </div>
    <div></div><!doctype html>
    <html   class="row">

      <div class="col-md-3">
        <br>
          <div class="card">
              <img class="card-img-top" src="https://th.bing.com/th/id/OIP.jvwQiGNrK8rFJ48bYqCA-QHaLH?pid=ImgDet&rs=1" alt="Title">
              <div class="card-body">
                  <h4 class="card-title">Silla Gamer</h4>
                  <p class="card-text">
                      <a href="https://www.gaiadesign.com.mx/marketplace-muebles/oficina/sillas/gamer/?gredir=1234&g_network=o&g_adid=&g_keyword=silla+gamer&g_adtype=search&g_adgroupid=1202866497039804&g_keywordid=kwd-75179378335459%3Aloc-119&g_acctid=712-795-9310&g_campaignid=420589862&g_campaign=Search+-+Muebles+de+Oficina+-+Categoria+%7B%7BGaia%7D%7D&hsa_acc=7127959310&hsa_cam=420589862&hsa_grp=1202866497039804&hsa_ad=&hsa_src=o&hsa_tgt=kwd-75179378335459%3Aloc-119&hsa_kw=silla+gamer&hsa_mt=e&hsa_net=adwords&hsa_ver=3&msclkid=79c8f327594414afe62290655143d516&utm_source=bing&utm_medium=cpc&utm_campaign=Search+-+Muebles+de+Oficina+-+Categoria+%7B%7BGaia%7D%7D&utm_term=silla+gamer&utm_content=Search+-+Muebles+de+Oficina+%7C+Sillas+Gamer+-+Categoria+-+Exact+%7B%7BGAIA%7D%7D">Enlace de compra...</a>
                  </p>
              </div>
          </div>
      </div>
    
  {% include 'sitio/pie.html' %}
  <header>
    <!-- place navbar here -->
  </header>
  <main>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
<!--pues esta es la extencion de boostrap basicamente ayuda a optimizar de mejor manera el tiempo de programacion 
para no poner todo el codigo otra vez la manera de activarlo es bs5-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">