{% include 'sitio/cabecera.html' %}


    <div class="row">

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0517/5322/2328/products/104.Churrumaiscervezamexicana_100x.png?v=1613066233" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Churrumais</h4>
                    <p class="card-text">
                        <a href="https://www.lapachuquena.com/products/churrumais">Enlace de compra...</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0517/5322/2328/products/104.Churrumaiscervezamexicana_100x.png?v=1613066233" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Churrumais</h4>
                    <p class="card-text">
                        <a href="https://www.lapachuquena.com/products/churrumais">Enlace de compra...</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0517/5322/2328/products/104.Churrumaiscervezamexicana_100x.png?v=1613066233" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Churrumais</h4>
                    <p class="card-text">
                        <a href="https://www.lapachuquena.com/products/churrumais">Enlace de compra...</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0517/5322/2328/products/104.Churrumaiscervezamexicana_100x.png?v=1613066233" alt="Title">
                <div class="card-body">
                    <h4 class="card-title">Churrumais</h4>
                    <p class="card-text">
                        <a href="https://www.lapachuquena.com/products/churrumais">Enlace de compra...</a>
                    </p>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

      
</div>

{% include 'sitio/pie.html' %}