
<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/admin" aria-current="page">Trabajando <span class="visually-hidden">(current)</span></a>
            <a class="nav-item nav-link" href="https://www.bing.com/videos/search?q=musica+para+trolear&&view=detail&mid=65D60E1BDF3D45F4836465D60E1BDF3D45F48364&&FORM=VDRVSR">No funciona el buscador?</a>
            
            <a class="nav-item nav-link" href="/">Volver al inicio</a>
        </div>
    </nav>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">