{% include 'admin/cabecera.html' %}
<br>

 <div class="container">
    
                <div class="card-header">
                    Que estas buscando?
                </div>
                <div class="card-body">
                    <form action="/" method="post">
                        
                     <div class="col-mb-6">
                        <br>
                       <img src="https://th.bing.com/th/id/OIP.ZUDNKSGDOf-3cYI0hbh9ywHaE7?w=276&h=184&c=7&r=0&o=5&dpr=1.25&pid=1.7" class="https://th.bing.com/th/id/OIP.ZUDNKSGDOf-3cYI0hbh9ywHaE7?w=276&h=184&c=7&r=0&o=5&dpr=1.25&pid=1.7" alt="Title">
                        
                       <br>
                       



                     <label for="txt" class="form-label">Busque su producto :</label>
                        <input type="text"
                         class="container"
                          class="form-control" name="txt" id="txt" aria-describedby="helpId" placeholder="Miles de productos">
                          <div class="col-mb-3">
                            
                            <br>
                      </div>
                        
                        
                      </body>
                       
                     </div>


                     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
       
    
</div>

{% include 'admin/pie.html' %}